<!-- test table 
<br>test table<br>  
<table>
  <th>blank</th>
  <th>col1</th>
  <th>col2</th>
  <tr> 
    <td>row1</td>
    <td>test</td>
    <td>hello</td>
  </tr>
  <tr>
    <td>row2</td>
    <td>test2</td>
  </tr>
  
</table> -->

<!-- test text -->
<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <br>
        Welcome to the website of DiaS'pura 2013!<br><br>
 
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        <br>
        Countdown to DiaS'pura:<br>
        68 days
      </p>
    </div>
  </div>
</div>