<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p>
        ClubSG is the Singapore Student's Association at the University of Pennsylvania. Check us out
        <a href="http://www.dolphin.upenn.edu/spore/">here</a>!
        <br><br>
 
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        
      </p>
    </div>
  </div>
</div>