<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span12">
      <p>
        <b>The Club</b><br>
        <a href="http://www.dolphin.upenn.edu/spore/">Club Singapore</a> is the representative body of the Singaporean
        student community at the University of Pennsylvania in Philadelphia, Pennsylvania. The Singaporean community
        at Penn is comprised of a diverse mix of undergraduates, graduate students, post-doctoral students and exchange
        students from Singapore. Membership currently stands at about 80. <br><br>
        
        <img src="assets/clubsg_3.jpg" width="50%" height="50%" align="right" hspace="10" title="Home Away From Home">
        
        Club Singapore serves two purposes at Penn - to provide a "home away from home" for Singaporeans, and to educate
        the university's general population about the "little red dot" that is Singapore. The executive committee consists
        of 6 undergraduate Singaporeans. <br><br>

        <b>Singaporeans</b><br>
        Singaporeans are generally recognized as the most motivated, hardworking and law-abiding students in Penn. We have
        a multitude of academic award-winners at the annual graduation ceremony, as well as a low incidence of delinquency.
        <br><br>

        Besides excelling in academics, Singaporeans are some of the most active participants in campus activities - from
        the performing arts (e.g. a cappella, stand-up comedy) to charity work (Habitat for Humanity, volunteering in West
        Philadelphia), and even entrepreneurship (start-ups, business plan competitions). 
        <br><br>
        
        <b>What We Do</b><br>
        Club Singapore plays host to a plethora of events every semester, beginning with the back-to-school activities every
        Fall, celebrations of various festivals (Mid-Autumn festival, Chinese New Year), Singaporean film screenings, Halloween
        parties, speaker events, and many other activities designed to celebrate the Singaporean food and culture. 
        <br><br>
        Club Singapore has also organized large-scale events for overseas Singaporeans. Bienially, we host DiaS'pura -
        a musical cum speaker series that attracts overseas Singaporeans from the United States and beyond. DiaS'pura 2,
        in 2009, featured Singaporean celebrity blogger Mr. Brown, filmmakers Boo Junfeng, Li-Anne Huang, Mirabelle Ang and
        Eva Tang. DiaS'pura 3, in 2011, featured prominent speakers like Ambassador Venu Menon, Cheng Tai Heng, Wena Poon,
        Cheryl Marie Cordeiro and Tan Jo-Ann. The student-written and performed musical, <i>Sing, City! 3: Red Dot Dreaming</i>
        was performed to a sold-out Harrison Auditorium.
        <br><br>
        In 2013, DiaS'pura will be back bigger and better than ever. Stay tuned for updates! 
        <br><br>
        
        <img src="assets/clubsg_1.jpg" width="30%" height="30%" hspace="10" title="ClubSG Academic Advising">
        <img src="assets/clubsg_4.jpg" width="30%" height="30%" hspace="10" title="Halloween!">
        <img src="assets/clubsg_2.jpg" width="30%" height="30%" hspace="10" title="Releasing Kong Ming Deng during Mid-Autumn Festival">
        
  
      </p>
    </div>
    <!-- 
    <div class="span4">
      <p>
        
      </p>
    </div>
    -->
  </div>
</div>