<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p style="text-align: center"><br>
        <b>Organizing Committee</b><br>
        President: &nbsp&nbspJevon Yeoh <br>
        Logistics: &nbsp&nbspAlan Tang <br>
        Programme: &nbsp&nbspJohn Cheo <br>
        Marketing and Treasury: &nbsp&nbspCeline Wee <br>
        Musical: &nbsp&nbspSee Yong Feng
      </p>
      <p>
        <b>Email </b><br>
        Feel free to contact the <a href="mailto:clubsgexco2012@googlegroups.com?subject=Questions about Penn">ClubSG Board</a>
        with any questions you might have about Penn or Singapore.
        <br>
        <br>
        For Sing! City 4 tickets and DiaS'pura related questions, please contact the organizers
        <a href="mailto:diaspura4@gmail.com?subject=DiaS'pura 4 Query">here</a>. <br>
        <br>
        <b>Facebook </b><br>
        Visit and RSVP to the 
        <a href="http://www.facebook.com/events/193641927446140/">DiaS'pura 4 Facebook Page</a>.
        
        <!--
        <b>Contact Page</b><br>
        <ul>
          <li>dias'pura email</li>
          <li>exco contact</li>
          <li>directions - train/air</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        
      </p>
    </div>
  </div>
</div>