<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span12">
      <p style="text-align: center"><br>
        <b>Organizing Committee</b><br>
        President: &nbsp&nbspJevon Yeoh <br>
        Logistics: &nbsp&nbspAlan Tang <br>
        Programme: &nbsp&nbspJohn Cheo <br>
        Marketing and Treasury: &nbsp&nbspCeline Wee <br>
        Musical: &nbsp&nbspSee Yong Feng<br><br>
        <img src="assets/exco.jpeg" title="ClubSG Exco" width=50% height=50% style="display: block; margin: 0 auto;
        position: relative">
      </p>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Email </b><br>
        Feel free to contact the <a href="mailto:clubsgexco2012@googlegroups.com?subject=Questions about Penn">ClubSG Board</a>
        with any questions you might have about Penn or Singapore.
        <br>
        <br>
        For Sing! City 4 tickets and DiaS'pura related questions, please contact the organizers
        <a href="mailto:diaspura4@gmail.com?subject=DiaS'pura 4 Query">here</a>. <br>
        <br>
        <b>Facebook </b><br>
        Visit and RSVP at the 
        <a href="http://www.facebook.com/events/193641927446140/" target="_blank">DiaS'pura 4 Facebook Page</a>.
      </div>
    </div>
    <div class="span4" style="padding-right:20px">
      
    </div>
  </div>
</div>