<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p>
        Work in progress. <br><br>
        
        Till then, contact the
        <a href="mailto:clubsgexco2012@googlegroups.com?subject=DiaS'pura 4 Query">organizers</a>
        if you have any queries or doubts.
        
        <!--
        <b>Contact Page</b><br>
        <ul>
          <li>dias'pura email</li>
          <li>exco contact</li>
          <li>directions - train/air</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        
      </p>
    </div>
  </div>
</div>