<br>
<div class="container" style="background:white; width:750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        The <i>DiaS'pura Dialogue</i> will be held in <a href="http://goo.gl/maps/cn5Nb">Jon M. Huntsman Hall</a>, Room G60
        located at 3730 Walnut Street.
        <br><br>
        <i>Sing, City! 4: The Musical</i> will be held in <a href="http://goo.gl/maps/IWsxQ">Harrison Auditorium </a>
        located in the University of Pennsylvania Museum of Archaelogy and Anthropology at 3260 South Street.
        <br><br>
        The <a href="http://www.admissions.upenn.edu/visit/directions-and-parking">University of Pennsylvania </a>is located
        west of Center City Philadelphia, between 33rd and 40th Streets.
      </p>    
        <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px"><b>From Philadelphia
        International Airport (PHL)</div></b>
        <ul style="font-family: 'Quattrocento Sans', sans-serif">
          <li>Taxi<br>
          Fixed fare of $28.50 to anywhere in Center City [not including tip]</li>
          <li><a href="http://www.septa.org/schedules/rail/w/AIR_1.html">Regional Rail </a><br>
          Alight at University City SEPTA station</li>
          <li>Lady Liberty shuttle<br>
          Book at <a href="http://www.ladylibertyshuttle.com">www.ladylibertyshuttle.com</a>.</li>
        </ul>
        <br>
        <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px"><b>From Center City
        </b></div>
        <ul style="font-family: 'Quattrocento Sans', sans-serif">
          <li>SEPTA Market-Frankford Line<br>
          Alight at either 34th Street station or 40th Street station and walk</li>
          <li>SEPTA Trolleys<br>
          Alight at 37th and Spruce SEPTA trolley station and walk</li>
        </ul>
        <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px">
          *Exact change ($2) or a token is required. Tokens are available at all subway station and can also be purchased
          on campus at the Penn Book Store. Fares are subject to change.
        </div> 
        <br>        
        
      </p>
    </div>
    <div class="span4">
      <p>
        <!-- include pictures of huntsman and harrison -->
      </p>
    </div>
  </div>
</div>