<br>
<div class="container" style="background:white; width:750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        Work in progress!<br>
        <br>
        Till then, <a href="maps.google.com">google maps</a> is your best friend!
        <!--
        <b>Speakers</b><br>
        <ul>
          <li>list of speakers</li>
          <li>aims of the speaker series</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        
      </p>
    </div>
  </div>
</div>