<!-- test table 
<br>test table<br>  
<table>
  <th>blank</th>
  <th>col1</th>
  <th>col2</th>
  <tr> 
    <td>row1</td>
    <td>test</td>
    <td>hello</td>
  </tr>
  <tr>
    <td>row2</td>
    <td>test2</td>
  </tr>
  
</table> -->
<br>
<br>
<!-- test text -->
<p>This is the home page for the new diaspura website yay! </p>
<br><br>

<!-- to dos -->
to do: <br>
<ul>
  <li>background image - opacity</li>
  <li>navbar</li>
</ul>