<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span12" style="padding-left:20px; padding-right:20px">
      <p>
        <!-- insert some picture here -->
        
      <!-- javascript   
      <a href="#" id="hideshow">Hide</a>
      <div id="message" style="width: 300px; border: 1px solid #777; padding: 10px">
              Auspicium Melioris Aevi
      </div>
      <br>
        -->
      
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b style="font-size: 150%">Welcome to DiaS'pura 4!</b></div><br>
      
      <p>
        We cannot wait to have you join us at Penn for the fourth installment of DiaS'pura, Club Singapore's biennial
        extravangaza which will feature, in the day, two panel discussions with some of Singapore's finest minds and
        fascinating personalities and, in the evening, an original, all-star (don't take our word for it; come see for
        yourself!) musical production which will have you laugh, think, cry and cheer (not necessarily in that order,
        though) your heart(s) out!<br>
        
        <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
          <b>So, what does DiaS'pura mean?</b><br><br>
        
        <span style="color:#AA1F1F"><b>Dias</b></span>pora: The dispersion of any people from their original homeland.<br><br>
        
        Singa<span style="color:#AA1F1F"><b>pura</b></span>: The Malay name of Singapore, a country in Southeast Asia located
        137km north of the equator. </div><br>
        
      <p>  
        Organized by Club Singapore of the University of Pennsylvania, DiaS'pura is an event catered to both our fellow
        Singaporeans as well as our friends from afar such as the <i><a href="http://en.wikipedia.org/wiki/Ang_moh"
                                                                        target="_blank">ang moh</a></i> curious about the
        little kaleidoscope that is our home!<br><br>
        
        <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
          Do visit and RSVP our 
          <a href="http://www.facebook.com/events/193641927446140/" target="_blank">DiaS'pura 4 Facebook Page</a>.<br>
        </div>
      </p>
    </div>
    <!--
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        68 days
      </p>
    </div>
    -->
  </div>
</div>