<!-- test table 
<br>test table<br>  
<table>
  <th>blank</th>
  <th>col1</th>
  <th>col2</th>
  <tr> 
    <td>row1</td>
    <td>test</td>
    <td>hello</td>
  </tr>
  <tr>
    <td>row2</td>
    <td>test2</td>
  </tr>
  
</table> -->

<!-- test text -->
<br>
<div class="container" style="background:white; width: 55%">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <br>
        Welcome to the website of Dia'Spura 2013!<br><br>
 
        We cannot wait to have you join us at Penn for the forth instalment of this biannual extravangaza (or so
        we would like to think!) which will feature, in the day, two panel discussions with some of Singapore's
        finest minds and fascinating personalities and, in the evening, an original, all-star (don't take our word for
        it; come see for yourself!) musical production which will have you laugh, think, cry and cheer (not necessarily
        in that order, though) your heart(s) out!<br><br>
 
        The panel discussions, dubbed the Dias'Pura Dialogue, will be an opportunity for us to, as it were, stand upon
        the shoulders of giants, to learn from and with our fellow Singaporeans who have walked, often against the odds,
        the proverbial path less trodden. From their stories we get a glimpse into what it means to think, and live,
        outside the box, to challenge conventions and to chase one's dreams, even if they do not quite offer the comforting
        security of a white-collared, desk-bound job. On a more macro level, the Dias'Pura Dialogue is also an open
        invitation for us to take an afternoon to deliberate upon the evolving socioeconomic and political landscapes of
        our beloved little red dot; from third world to first, where do we go henceforth?<br><br>
 
        The first panel will comprise Singaporeans who have pursued what has commonly be seen as "unconventional"
        career choices - a Geography PhD turned professional sculptor and a relentlessly bold theater entrepreneur.
        The second will comprise Singaporeans intimately involved with the politics of our times - a consummate political
        commentator/social activist and a Member of Parliament. Make sure you join us for a conversation that promises to
        be stimulating, expansive and engaging (questions and curiosity needed for entrance!).<br><br>
 
        After the Dias'Pura Dialogue (which includes lunch), take a couple of hours off to explore either the beautiful
        urban campus or historic Philadelphia before getting comfortable in the 700-seater Harrison Auditorium where we
        put on display the best theatrical talents the Singaporean community at Penn has to offer! This 100-minute musical
        will explore, from a hauntingly familiar twentysomething perspective, the many dilemmas and decisions that will
        shape, for better or for worse, our actors' young lives. While all dramatic presentations are given to exaggeration,
        we are committed to an authentic script inspired chiefly by the collective experiences of ourselves and our peers.
        Come see for yourself what happens when a fellow Singaporean, studying overseas in what appears to be the prime of
        his life, navigates the occasionally hurlyburly but ceaselessly unsettling journey of individuation.<br><br>
  
      </p>
    </div>
    <div class="span4">
      <p>
        <br>
        Countdown to DiaS'pura:<br>
        68 days
      </p>
    </div>
  </div>
</div>