<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span12">
      <p>
        <!-- insert some picture here -->
        
        <!-- to be test
        <a href="#" id="hideshow">Hide</a>
        <div id="message" style="width: 300px; border: 1px solid #777; padding: 10px">
                Auspicium Melioris Aevi
                'Quattrocento Sans', sans-serif
        </div> -->
        <div style="text-align: center; font-family: motor_oil_1937_m54regular">
          <b style="font-size: 150%">Welcome to DiaS'pura 4!</b></div><br>
      
      <p>
        We cannot wait to have you join us at Penn for the fourth instalment of this biennial extravangaza which will
        feature, in the day, two panel discussions with some of Singapore's finest minds and fascinating personalities
        and, in the evening, an original, all-star (don't take our word for it; come see for yourself!) musical production
        which will have you laugh, think, cry and cheer (not necessarily in that order, though) your heart(s) out!<br>
        
        <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
          <b>So, what is DiaS'pura?</b><br><br>
        
        <span style="color:#AA1F1F"><b>Dias</b></span>pora: The dispersion of any people from their original homeland.<br><br>
        
        Singa<span style="color:#AA1F1F"><b>pura</b></span>: The Malay name of Singapore, a country in Southeast Asia located
        137km north of the equator. </div><br>
        
      <p>  
        Organized by Club Singapore of the University of Pennsylvania, DiaS'pura is a day of discovery, dialogue and
        discussion about the little red dot of Singapore. Whether you be part of the diaspora - an overseas Singaporean
        looking to rediscover your roots - or an <i>ang moh</i> curious about the economic success of our tiny island-nation,
        DiaS'pura has it all: great food, renowned speakers and an entirely student-run musical. <br><br><br>
        
        <b>Check back soon for more updates!</b><br><br>
  
      </p>
    </div>
    <!--
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        68 days
      </p>
    </div>
    -->
  </div>
</div>