<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <!-- insert a row of photos from rehearsal across the top here -->
        From a small production put up six years ago by a talented group of Singaporeans in the Harnwell rooftop lounge
        to the last sold-out performance in Harrison Auditorium in 2011, Sing, City! has grown to become one of the most
        anticipated cultural shows in the Penn calendar. In the latest incarnation of Sing, City!, follow a group of
        Singaporeans as they navigate the labyrinth that is college life at Penn.<br><br>
        
        A blend of comedy, drama and of course, budding romance, the musical is bound to be non-stop entertainment with
        a dash of unique Singaporean flavor.<br><br>
        
        <i>How much are you willing to give up to pursue your dreams?<br>
        How do you balance life in a foreign country with your family and friends back home?<br><br>
        And most importantly... <br>
        How can I get my tickets?</i> (Just click <a href="/tickets">here</a>!)<br><br>
        
        Our amazing cast, crew and band cannot wait to take you on this journey. We guarantee a great soundtrack, moments
        that make you go awww... and a bellyful of laughs. Sing, City! 4 is an original production with both the music and
        story completely written by our talented team - definitely an event not to be missed!
        
        <!--
        <br><br>
        <b>Musical</b><br>
        <ul>
          <li>synopsis</li>
          <li>cast highlights</li>
          <li>directors note?</li>
        </ul>
        -->
  
      </p>
    </div>
    <div class="span4">
      <p>
        <!--
        Include directors message and photo here.
        -->
      </p>
    </div>
  </div>
</div>