<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b>Musical</b><br>
        <ul>
          <li>synopsis</li>
          <li>cast highlights</li>
        </ul>
  
      </p>
    </div>
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        74 days
      </p>
    </div>
  </div>
</div>