<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b style="font-size:120%">Sing, City! 4 The Musical</b><br>
        
        <!-- insert a row of photos from rehearsal across the top here -->
        From a small production put up six years ago by a talented group of Singaporeans in the Harnwell rooftop lounge to
        the last sold-out performance in Harrison Auditorium in 2011, Sing, City! has grown to become one of the most anticipated
        cultural shows in the Penn calendar. This 100-minute musical will explore, from a hauntingly familiar twentysomething
        perspective, the many dilemmas and decisions that will shape, for better or for worse, our actors' young lives.<br><br>
        
        A blend of comedy, drama and of course, budding romance, the musical is bound to be non-stop entertainment with a dash
        of authentic Singaporean flavor, inspired chiefly by the collective experiences of ourselves and our peers.<br><br>
        
        <i>How much are you willing to give up to pursue your dreams?</i><br>
        <i>How does the YOLO mindset reconcile with the practicalities of finding a job?</i><br>        
        <i>How do you balance life in a foreign country with your family and friends back home?</i><br><br>
        
        And most importantly...<br>
        How can I get my tickets? (Just click <a href="/tickets">here</a>!)<br><br>
        
        Our amazing cast, crew and band cannot wait to take you on this journey. We guarantee a great soundtrack, moments
        that make you go awww... and a bellyful of laughs. Sing, City! 4 is an original production with both the music and
        story completely written by our talented team - definitely an event not to be missed!<br>
        
      </p>
    </div>
    <div class="span4">
      <p>
        <!--
        Include directors message and photo here.
        -->
      </p>
    </div>
  </div>
</div>