<br>
<div class="container" style="background:white; width: 55%">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b>Partners</b><br>
        <ul>
          <li>contact singapore</li>
          <li>OSU</li>
          <li>yeo's</li>
          <li>SAC</li>
          <li>email us if you want to sponsor</li>
        </ul>
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        74 days
      </p>
    </div>
  </div>
</div>