<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We would like to thank the following partners for making this event possible!<br><br>
        
        <!-- OSU $5000 --> 
        <b id="osu" style="font-size:130%">Overseas Singaporean Unit</b><br>

        <a href="http://www.overseassingaporean.sg/home" target="_blank"><img src="assets/osu.jpg"></a><br>
        <br>

        The Overseas Singaporean Unit (OSU) plans and co-ordinates multi-agency programs and initiatives to engage Overseas
        Singaporeans (OS), and strengthen their connection to home and fellow Singaporeans. The OSU portal is a gateway to a whole host
        of information - from news, policies, and lifestyle updates from back home. Also available on the portal is
        a networking forum to connect with various Overseas Singaporean Organizations (OSO), Singapore Student Associations
        (SSA), and similar Singaporean communities located across the world. The OSU has been extremely supportive of
        DiaS'pura 4, 2013. We are particularly grateful to Ms. Alberenee Sim who has also generously given her time and
        advice to help plan the event. <br><br>
        
        <!-- Contact singapore $3000 -->
        <b id="cs" style="font-size:130%">Contact Singapore</b><br>

        <a href="http://www.contactsingapore.sg/" target="_blank"><img src="assets/contactsg.jpg"></a><br>
        <br>

        Contact Singapore engages overseas Singaporeans and global talent to work, invest and live in Singapore. The
        agency actively links Singapore-based employers with professionals to support the growth of our key industries,
        and works with investors to realize their business and investment interests in Singapore. Contact Singapore has
        been extremely supportive of DiaS'pura 4, 2013. We are specially grateful to Mr Lim Tze Min who has worked with
        us in previous DiaS'pura productions as well, and generously provided his advice in the planning stages of the
        event.  <br><br>
        
        <!-- SAC $5700 -->
        <b id="sac" style="font-size:130%">Student Activities Council</b> <br>
        <a href="http://sacfunded.net/" target="_blank"><img src="assets/sac.gif"></a><br>
        <br>
        
        The Student Activities Council (SAC) is one of Penn's six branches of undergraduate student government. SAC exists
        to fund, supervise and promote cooperation between student organizations. SAC also represents the interests of
        student groups to the Undergraduate Assembly and to the University administration; the SAC Chair sits on Student
        Government Steering. In addition to funding our member groups, SAC also provides the following resources for all
        student groups: Campus Events in the DP, banner poles and tables available for rent in the Office of Student Life,
        and tables at the NSO and Spring Activities Fairs.<br><br>
        
        <!-- Singapore pools $3000 -->
        <b id="sgpools" style="font-size:130%">Singapore Pools</b> <br>
        <a href="http://www.singaporepools.com.sg/" target="_blank"><img src="assets/sgpools.jpg"></a><br>
        Singapore Pool was established in 1968 to counter illegal betting syndicates and to channel surpluses towards
        community purposes. As Singapore's only legal lottery operator, Singapore Pools offers lottery games such as Toto,
        4D and Singapore Sweep and sports betting for football matches and motor racing events. Apart from operating a
        network of branches and authorized retailers, Singapore Pools also offers a phone betting service. Over the last
        40 years, Singapore Pools has become recognised as a major contributor to worthy causes in charity, community and
        sports through its parent, the Tote Board.
        <br>
        
        <br><br>
        
        <!-- YCM $3000 -->
        <b id="ycm" style="font-size:130%">Young ChangeMakers</b> <br>
        <!--<a href="http://ycm.nyc.sg/" target="_blank"><img src="assets/sac.gif"></a><br>
        <br>
        -->
        <br><br>
         
        <b id="yeos" style="font-size:130%">Yeos</b> <br>
        <a href="http://www.yeos.com.sg/" target="_blank"><img src="assets/yeos.jpg" height="60%" width="60%"></a><br>
        <br>

        Yeo's is a household food and beverage brand in Singapore and Malaysia, with a wide variety of products that can
        be enjoyed at all occasions. The brand's products are available all across the world, from the US, Canada, UK,
        Australia and New Zealand, China, Hong Kong, IndoChina, Malaysia, Singapore, Oceania and Japan. Yeo's is a generous
        sponsor of DiaS'pura 4, 2013, and has also donated various beverages - Chrysanthemum, Soy Bean Milk, and Winter
        Melon, especially for DiaS'pura participants to enjoy. <br><br>
        
        <!-- Judico $2000 -->
        <b id="judico" style="font-size:130%">Judico Capital Pte Ltd</b> <br>
        The organizing committee would like to thank Judico Capital Pte. Ltd for their kind generosity and support.
        <br><br>

        
          
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        If you would like to be part of DiaS'pura 4, please feel free to 
        <a href="mailto:clubsgexco2012@googlegroups.com?subject=DiaS'pura 4 Corporate Sponsorship">contact us</a>.
        <br><br>
        
        We would also be deeply appreciative if you choose to donate to help support DiaS'pura. Please click below to donate
        and help bring DiaS'pura to greater heights.
        <div align="center">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="73G6XEWXNFKWA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
        
        <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px">
          <br>
          Partners<br>
          <ul>
            <li><a href="#osu">Overseas Singaporean Unit</a></li>
            <li><a href="#cs">Contact Singapore</a></li>
            <li><a href="#sac">Student Activities Council</a></li>
            <li><a href="#sgpools">Singapore Pools</a></li>
            <li><a href="#ycm">Young Change Makers</a></li>
            <li><a href="#yeos">Yeos</a></li>
            <li><a href="#judico">Judico Capital Pte Ltd</a></li>
          </ul>
        </div>
      </p>

    </div>
  </div>
</div>