<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We held our inaugural DiaS'pura speaker series in 2007 to stimulate discussion and introspection into the
        question of Singaporean identity. The event attracted over 100 Singaporeans from all over the United States
        and received positive reviews. Since then, the binennial event has increased in size with our last edition
        attracting approximately 200 Singaporeans for the speaker series and a 600-strong audience, selling out the
        Harrison Auditorium at the University of Pennsylvania.<br>
        <br>
        Previous speakers in attendance include:
        <ul style="font-family: 'Quattrocento Sans', sans-serif">
          <li>Professor Chan Heng Chee - Singapore's previous Ambassador to the United States</li>
          <li>Professor Janice R. Bellace - Deputy Provost of the University of Pennsylvania, Founding President of SMU</li>
          <li>Colin Goh and Woo Yen Yen - Renowned Filmmakers of Critically Acclaimed Movie, "Singapore Dreaming"</li>
          <li>Alfian Sa'at - Singaporean Poet and Playwright</li>
          <li>Li-Anne Huang - Filmmaker, "Singapore Girl"</li>
          <li>Yian Huang - Photographer</li>
          <li>Lee Kin Mun aka "Mr. Brown" - Celebrity Blogger</li>
          <li>Boo Junfeng - Writer/Director of Critically Acclaimed Films, "Keluar Baris" and "Tanjong Rhu"</li>
          <li>Eva Tang - Writer/Director of film "Flat Dreams"</li>
          <li>Mirabelle Ang - Writer/Director of films "Past Tense"</li>
          <li>Vanu Menon - Permanent Singapore Representative to the UN</li>
          <li>Wena Poon - Corporate Lawyer, Award-winning Writer</li>
          <li>Dr Cheng Tai-Heng - International Arbitration Lawyer</li>
          <li>Ms Tan Jo-Ann - Business Development Manager at the Acumend Fund</li>
        </ul>
        
        <p>
          Here are some videos from Sing, City! 2 in 2009 to whet your appetite and get a taste of what to expect at this
          years DiaS'pura and Sing, City!<br><br>
          
          Sekali I <br>
          <iframe width="445" height="250" src="http://www.youtube.com/embed/SZJ9LUxhHAY" frameborder="0"
                  allowfullscreen></iframe><br><br>
          
          Instant Noodles Song<br>
          <iframe width="445" height="250" src="http://www.youtube.com/embed/_TpbECls8nM" frameborder="0"
                  allowfullscreen></iframe> <br><br>
        </p>
        
      </p>
    </div>
    
    
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Links
        <ul>
          <li><a href="http://www.dolphin.upenn.edu/spore/diaspura/index.html" style="font-family: 'Quattrocento Sans',
          sans-serif">DiaS'pura I - 2007</a></li>
        </ul>
      </div>
      <p>
        Media
        <br><br>
        <img src="assets/singcity3_poster.jpg" height="80%" width="80%" style="padding-left: 20px">
      </p>
    </div>
  </div>
</div>