<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We are still in the midst of finalizing the details of the day's event!<br>
        <br>
        Check back soon for more updates!
        <!--
        <b>Schedule</b><br>
        <ul>
          <li>include the days schedule</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Links
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans',
          sans-serif">Past events</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>