<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span12">
      <br>
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
      <b style="font-size: 130%">Schedule of Events</b></div>
      <br><br>
      
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:center; font-size:120%"> 
        Friday, 22nd March<br>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Dinner Reception</b><br>
        <div style="font-size:85%">
          7:00 PM - 9:00 PM<br>
          Venue: TBA<br>
          By invitation only.
        </div>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Night Out to Chinatown</b><br>
        <div style="font-size:85%">
          Time: TBA<br>
          Venue: TBA<br>
          By invitation only.
        </div>
      </div>
      <br><br>
      
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:center; font-size:120%"> 
        Saturday, 23rd March<br>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Opening Keynote</b><br>
        <div style="font-size:85%">
          11:15 AM - 11:30 AM<br>
          G60, Jon M. Huntsman Hall<br>
          Keynote address by Ambassador Ashok.<br>
          DiaS'pura Dialogue ticket holders only.
        </div>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>DiaS'pura Dialogue - Politics Panel</b><br>
        <div style="font-size:85%">
          11:30 AM - 1:00 PM<br>
          G60, Jon M. Huntsman Hall<br>
          DiaS'pura Dialogue ticket holders only.
        </div>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Lunch</b><br>
        <div style="font-size:85%">
          1:00 PM - 2:00 PM<br>
          Venue: TBA<br>
          DiaS'pura Dialogue ticket holders only.
        </div>
      </div>
      <br>
        
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>DiaS'pura Dialogue - Arts and Business Panel</b><br>
        <div style="font-size:85%">
          2:00 PM - 3:30 PM<br>   
          G60, Jon M. Huntsman Hall<br>
          DiaS'pura Dialogue ticket holders only.
        </div>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Meet-and-Greet</b><br>
        <div style="font-size:85%">
          3:30 PM - 4:30 PM<br>
          Venue: TBA<br>
          Meet the DiaS'pura Dialogue panelists.
        </div>
      </div>
      <br>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Guided Tour of Penn's Campus</b><br>
        <div style="font-size:85%">
          4:30 PM - 6:00 PM<br>
          Campus<br>
          <!-- Register here for the guided tours. -->
          <!-- insert link for tour registration -->
        </div>
      </div>
      <br>
        
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b>Sing, City! 4 - The Musical</b><br>
        <div style="font-size:85%">
          7:00 PM - 9:00 PM<br>
          Harrison Auditorium<br>
          Sing, City! 4 ticket holders only.
        </div>
      </div>
      <br><br>  
        
    </div>
    <!-- 
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Links
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans',
          sans-serif">Past events</a></li>
        </ul>
      </div>
    </div>
    -->

  </div>
</div>