<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We are still in the midst of finalizing the details of the day's event so check back soon for a more detailed
        itinerary!<br>
        <br>
        <!-- add hide and show functionality? -->
        <b style="font-size:120%">The DiaS'pura Dialogue</b><br>
        
        These panel discussions are an opportunity for us to, as it were, stand upon the shoulders of giants, to learn
        from and with our fellow Singaporeans who have walked, often against the odds, the proverbial path less trodden.
        From their stories we get a glimpse into what it means to think, and live, outside the box, to challenge conventions
        and to chase one's dreams, even if they do not quite offer the comforting security of a "standard" job. On a more
        macro level, the DiaS'pura Dialogue is also an open invitation for us to deliberate upon the evolving socioeconomic
        and political landscapes of our beloved little red dot; from third world to first, where do we go henceforth?<br><br>
 
        The first panel will comprise Singaporeans who have pursued what has commonly be seen as unconventional
        career choices - a Geography PhD turned professional sculptor and a relentlessly bold theater entrepreneur.
        The second will comprise Singaporeans intimately involved with the politics of our times - a consummate political
        commentator/social activist and a Member of Parliament. Make sure you join us for a conversation that promises to
        be stimulating, expansive and engaging (questions and curiosity needed for entrance!).<br><br>
        
        Delicious Southeast Asian food will also be catered for participants!<br><br>
        
        <b style="font-size:120%">Sing, City! 4</b><br>
        
        After the DiaS'pura Dialogue (which includes lunch), take a couple of hours off to explore either the beautiful
        urban campus or historic Philadelphia before getting comfortable in the 700-seater Harrison Auditorium where we
        put on display the best theatrical talents the Singaporean community at Penn has to offer! This 100-minute musical
        will explore, from a hauntingly familiar twentysomething perspective, the many dilemmas and decisions that will
        shape, for better or for worse, our actors' young lives.<br><br>
        
        While all dramatic presentations are given to exaggeration, we are committed to an authentic script inspired chiefly
        by the collective experiences of ourselves and our peers. Come see for yourself what happens when a fellow Singaporean,
        studying overseas in what appears to be the prime of his life, navigates the occasionally hurlyburly but ceaselessly
        unsettling journey of individuation.<br><br>  
        
        
  
      </p>
    </div>
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Links
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans',
          sans-serif">Past events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>