<br>
<div class="container" style="background:white; width: 55%">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b>Schedule</b><br>
        <ul>
          <li>include the days schedule</li>
        </ul>
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        74 days
      </p>
    </div>
  </div>
</div>