<br>
<div class="container" style="background:white; width:750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We are currently in the midst of confirming our speakers!<br>
        <br>
        Do check back soon for more details!
        <!--
        <b>Speakers</b><br>
        <ul>
          <li>list of speakers</li>
          <li>aims of the speaker series</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Links<br>
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans', sans-serif">Past speakers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>