<br>
<div class="container" style="background:white; width:750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b style="font-size:120%">The DiaS'pura Dialogue</b><br>
        
        These panel discussions are an opportunity for us to, as it were, stand upon the shoulders of giants, to learn
        from and with our fellow Singaporeans who have walked, often against the odds, the proverbial path less trodden.
        From their stories we get a glimpse into what it means to think, and live, outside the box, to challenge conventions
        and to chase one's dreams, even if they do not quite offer the comforting security of a "standard" job. On a more
        macro level, the DiaS'pura Dialogue is also an open invitation for us to deliberate upon the evolving socioeconomic
        and political landscapes of our beloved little red dot; from third world to first, where do we go henceforth?<br><br>
        
        The first panel will comprise Singaporeans intimately involved with the politics of our times - a consummate political
        commentator/social activist and a Nominated Member of Parliament.<br><br>
        
        The second panel will comprise Singaporeans who have pursued what has commonly be seen as unconventional career choices
        - a Geography PhD turned professional ceramist and a relentlessly creative and patriotic theater practitioner.<br><br>
        
        Make sure you join us for a conversation that promises to be candid, expansive and engaging (questions and curiosity
        needed for entrance!).<br><br>
        
        Delicious Southeast Asian food will also be catered for participants!
      </p>
      
      <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <br>
        <b style="font-size: 130%">Keynote Speaker</b>
      </div>
      <br>
        
      <div style="text-align: justify; font-family: 'Quattrocento Sans', sans-serif; padding-left:20px; padding-right:20px">
        
        <!-- ashok -->
        <b id="ambashok" style="font-size:120%">His Excellency Ambassador Ashok Mirpuri</b><br>
        <i>Singapore's Ambassador to the US</i><br>
        
        <img src="assets/ambashok.jpg" width="150" height="100" align="left" style="display: inline; padding-right:10px">
        Mr Ashok Kumar Mirpuri took up his appointment as Singapore's Ambassador to the United States of America in July 2012.
        Prior to his current appointment, he served as Ambassador to Indonesia from 2006 to 2012, High Commissioner to Malaysia
        from 2002 to 2006 and High Commissioner to Australia from 2000 to 2002.<br><br>
        
        A career diplomat, Mr Mirpuri joined the Ministry of Foreign Affairs (MFA) in 1984. In 1994, he was appointed Director
        of MFA's Policy Planning & Analysis Directorate I (Southeast Asia). In 1997, Mr Mirpuri was seconded to Shell
        International Ltd in the United Kingdom as Corporate Advisor (Asia Pacific). He was subsequently assigned to the
        Singapore Embassy in Jakarta in 1998 as Minister-Counsellor and Deputy Chief of Mission, having previously served
        in Jakarta as First Secretary (Political).<br><br>
        
        Mr Mirpuri graduated with an honours degree from the National University of Singapore. He received his MA at the
        University of London's School of Oriental & African Studies under a Raffles Scholarship. He attended the Programme
        for Executive Development at the Institute for Management Development, Switzerland, and the Advanced Management
        Program at Harvard Business School, USA.<br><br>
        
        Mr Mirpuri was awarded the Public Administration Medal (Gold) by the Singapore Government in 2010.<br>
        
        <br>
        For more information about Ambassador Ashok, do visit this
        <a href="http://www.mfa.gov.sg/content/mfa/overseasmission/washington.html" target="_blank">
          website
        </a>.
        <br><br>
        
        <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <br>
        <b style="font-size: 130%">Speakers</b>
      </div>
      <br>
        
        <!-- alex au -->
        <b id="alexau" style="font-size:120%">Mr Alex Au Waipang</b><br>
        <i>Blogger and Civic Society Activist</i><br>
        
        <img src="assets/alexau.jpg" width="150" height="100" align="left" style="display: inline; padding-right:10px">
        Alex Au, 60, sprang into prominence in the 1990s as a gay activist after a corporate career. He was one of the early
        movers in the group People Like Us, at a time when police entrapment was commonplace in Singapore. Beginning in 1996,
        he has been speaking out on a variety of social and political issues through his personal blog Yawning Bread, with an
        unmistakeably liberal point of view. Over time, Au has come to be known as among the foremost commentators on politics,
        society, human rights and gay equality in the city-state.<br><br>
        
        
        For more information about Mr. Au, do visit this <a href="http://yawningbread.wordpress.com/" target="_blank">
        website</a>.<br><br>
        
        <!-- jothie raja-->
        <b id="dacunha" style="font-size:120%">Professor Jothie Rajah</b><br>
        <i>Research Professor</i><br>
        
        <img src="assets/jothie.jpg" width="150" height="100" align="left" style="display: inline; padding-right:10px">
        Jothie Rajah is Research Professor at the American Bar Foundation, Chicago. She is a graduate of the National University
        of Singapore (LL.B and BA (Hons. in English). She was awarded a PhD by the Melbourne Law School. Her dissertation won the
        Melbourne Law School's Harold Luntz Graduate Research Thesis Prize, an honourable mention from the US Law & Society
        Association Dissertation Committee, and the University of Melbourne's Chancellor's Award. Her monograph, Authoritarian
        Rule of Law (Cambridge University Press, NY, 2012), analyses a range of Singapore statutes to show how legislation,
        in tandem with a narrative of territorial and economic vulnerability, has muted critique and augmented state power
        while strategically sustaining state legitimacy. The book argues that Singapore presents a template for illiberal
        legitimacy, highlighting that other states, most notably China, seek to follow the Singapore model of law. Her current
        projects include studies on global discourses on the rule of law, and the construction of Hindu law in the Straits
        Settlements.<br>
        
        <br>
        For more information about Professor Rajah, do visit this
        <a href="" target="_blank">website</a>.
        <br><br>
        
        <!-- hrikumar -->
        <b id="hrikumar" style="font-size:120%">Mr Hri Kumar</b><br>
        <i>Member of Parliament</i><br>
        
        <img src="assets/hri.jpg" width="220" height="100" align="left" style="display: inline; padding-right:10px">
        Hri Kumar is a Director with Drew & Napier LLC's Dispute Resolution Department. He graduated with LL.B. (Hons) from
        the National University of Singapore in 1991 and was admitted to the Singapore Bar a year later. He was made a Senior
        Counsel in 2008.  He is recognised by the market as an expert in dispute resolution with industry publications lauding
        him as one of Singapore's best. His main areas of practice are banking and finance, defamation and commercial litigation.
        He was elected as a Member of Parliament in the 2006 General Elections as part of the People's Action Party team in the
        Bishan-Toa Payoh Group Representation Constituency. He currently serves as Chairman of the Law and Home Affairs
        Government Parliamentary Committee (GPC) and Member of the Education GPC.<br>
        
        <br>
        For more information about Mr. Kumar, do visit this
        <a href="http://www.parliament.gov.sg/mp/hri-kumar-nair" target="_blank">website</a>.
        <br><br>
        
        <!-- whl -->
        <b id="weehongling" style="font-size:120%">Dr Wee Hong Ling</b><br>
        <i>Ceramicist</i><br>
        
        <img src="assets/weehongling.jpg" width="220" height="100" align="left" style="display: inline; padding-right:10px">
        Dr Wee Hong-Ling is a scientist-turned-artist who realized her passion for ceramics during her pursuit of a Ph.D. in
        Geography. Since completing her doctoral degree in 2005, she has been a full-time ceramicist who splits her time between
        the United States and Asia.<br><br>
        
        Dr Wee has participated in numerous exhibitions all over the United States, United Kingdom, Australia, Japan, Korea,
        China and Singapore. Among her accolades include the First Prize at "Ceramics Biennial 2006" at The New Hampshire Institute
        of Art (New Hampshire, USA), an Award of Excellence at the 3rd China-ASEAN Youth Creativity Competition at the Guangxi
        National Art Center (Nanning, China), an Honorable Mention at the Cheongju International Craft Biennale (Cheongju-si,
        Korea). In 2006, she was also selected as one of twenty-four Emerging Artists by Ceramics Monthly. Most recently, she
        received grants for this solo exhibition from the Singapore Permanent Mission to the Untied Nations (New York), the
        Singapore International Foundation and the National Arts Council (Singapore).<br><br>
        
        Dr Wee's work has been also featured in The Straits Times, The Business Times, Singapore (SIF Magazine), Nu You,
        Millionaire Singapore, Ceramics Monthly, Clay Times, Lark Books, Sing Tao Daily, Ming Pao Daily News and The World
        Journal. She was also featured in the Beyond The Dot documentary series that aired on Channel News Asia in 2007.<br><br>
        
        Dr Wee has also held Artist-in-Residence positions at the Vermont Studio Center (Vermont, USA), the Shigaraki Ceramic
        Institute (Japan), and the Jingdezhen Experimental Factory and Pottery Workship (China). This year, she will be the
        artist-in-residence for 2 months at The Clay Studio here in Philadelphia.<br><br>
        
        Dr Wee's works are in the permanent collections of the National Art Gallery (Singapore), the Shigaraki Ceramic Cultural
        Park (Japan), the Fule International Ceramic Art Museum (Fuping, China) and the Guangxi National Art Center (Nanning,
        China).<br><br>
        
        For more information about Dr. Wee, do visit this <a href="http://www.ceramicus.com/" target="_blank">website</a>.<br><br>
        
        <!-- alvin tan -->
        <b id="alvintan" style="font-size:120%">Mr Alvin Tan</b><br>
        <i>Theater Practitioner</i><br>
        
        <img src="assets/alvintan.jpg" width="150" height="100" align="left" style="display: inline; padding-right:10px">
        Alvin is the Founder and Artistic Director of The Necessary Stage since 1987. He is also co-Artistic Director of the
        annual international M1 Singapore Fringe Festival. One of the leading proponents of devising theatre in Singapore,
        Alvin has directed more than 60 plays which have been staged locally and at international festivals. He has been awarded
        a Fulbright Scholarship and served as a member of the curatorial panel for TransLab, an initiative created by the
        Australian Council for the Arts to promote intercultural theater and performance. In 2010, Alvin was conferred the
        Chevalier des Arts et des Lettres by the French Ministry of Culture, in recognition of his significant contributions to
        the arts.<br><br>
        
        For more information about Mr. Tan, do visit this <a href=" http://www.necessary.org/" target="_blank">website</a>.<br><br>
        
        
        
      </div>
    </div>
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Speakers<br>
        <ul>
          <li><a href="#ambashok">Ambassador Ashok</a></li>
          <li><a href="#alexau">Mr. Alex Au</a></li>
          <li><a href="#dacunha">Dr. Derek da Cunha</a></li>
          <li><a href="#hrikumar">Mr. Hri Kumar</a></li>
          <li><a href="#weehongling">Dr. Wee Hong Ling</a></li>
          <li><a href="#alvintan">Mr. Alvin Tan</a></li>
        </ul>
        <br>
        Links<br>
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans', sans-serif">Past speakers</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>