<br>
<div class="container" style="background:white; width:750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        <b style="font-size:120%">The DiaS'pura Dialogue</b><br>
        
        These panel discussions are an opportunity for us to, as it were, stand upon the shoulders of giants, to learn
        from and with our fellow Singaporeans who have walked, often against the odds, the proverbial path less trodden.
        From their stories we get a glimpse into what it means to think, and live, outside the box, to challenge conventions
        and to chase one's dreams, even if they do not quite offer the comforting security of a "standard" job. On a more
        macro level, the DiaS'pura Dialogue is also an open invitation for us to deliberate upon the evolving socioeconomic
        and political landscapes of our beloved little red dot; from third world to first, where do we go henceforth?<br><br>
        
        The first panel will comprise Singaporeans who have pursued what has commonly be seen as unconventional
        career choices - a Geography PhD turned professional sculptor and a relentlessly bold theater entrepreneur.
        The second will comprise Singaporeans intimately involved with the politics of our times - a consummate political
        commentator/social activist and a Member of Parliament. Make sure you join us for a conversation that promises to
        be stimulating, expansive and engaging (questions and curiosity needed for entrance!).<br><br>
        
        Delicious Southeast Asian food will also be catered for participants!<br><br>
        
        We are currently in the midst of confirming our speakers!<br><br>
        
        Do check back soon for more details!
        
      </p>
    </div>
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Links<br>
        <ul>
          <li><a href="/pastevents" style="font-family: 'Quattrocento Sans', sans-serif">Past speakers</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>