<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span12" style="padding-left:20px; padding-right:20px">
      <p>
        Thanks!
        
        
        
      </p>
    </div>
    <!--
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        68 days
      </p>
    </div>
    -->
  </div>
</div>