<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <br>
      <table border="1" style="font-family: 'Quattrocento Sans', sans-serif; margin:0 auto; text-align: center">
          <caption><b>Original Pricing</b></caption>
          <!-- change links to link to buy the tickets? -->
          <th>Event</th>
          <th>&nbsp&nbspPrice (USD)&nbsp&nbsp</th>
          <tr>
            <td><a href="/speakers">DiaS'pura Dialogue</a></td>
            <td>$20</td>
          </tr>
          <tr>
            <td><a href="/musical">Musical</a></td>
            <td>$10</td>
          </tr>
          <tr>
            <td>&nbsp&nbsp<a href="/schedule">Package (DiaS'pura Dialogue + Musical)</a>&nbsp&nbsp</td>
            <td>$25</td>
          </tr>
        </table>
      <p>
        <!-- include early bird deadline -->
        Get your <a href="http://diaspura4.eventbrite.com/">tickets</a> and enjoy the early-bird discount
        valid till 31st January! <br><br>
        
        Tickets entitle you to:<br>
        <!-- insert other stuff here -->
        <span style="padding-left:2em">
          1. Lunch<br>
        </span>
        <span style="padding-left:2em">
          2. Entrance to the afterparty<br>
        </span>
        
        <br> 
        So what are you waiting for? Get your tickets <a href="http://diaspura4.eventbrite.com/">now</a>!  
        
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Links<br>
        <ul>
          <li><a href="http://diaspura4.eventbrite.com/" style="font-family: 'Quattrocento Sans',
          sans-serif">Tickets</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>