<br>
<div class="container" style="background:white; width: 750px">
  <div class="row-fluid">
    <div class="span8">
      <p>
        Speaker Series: $20<br>
        Musical: $10 <br>
        Package: $25 (discounted from $30) <br><br>

        Buy tickets on Eventbrite!<br>
        Link: <a href="http://diaspura4.eventbrite.com/">http://diaspura4.eventbrite.com/</a> <br>

        
  
      </p>
    </div>
    <div class="span4">
      <p>
        Countdown to DiaS'pura:<br>
        74 days
      </p>
    </div>
  </div>
</div>