<br>
<div class="container" style="background:white; width: 750px">
  
  <!-- top header --> 
  <div class="row-fluid">
    <br>
    <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
      <b style="font-size:130%">
        Get your tickets before February 28th to enjoy the early-bird discounts!<br>
        Also, buy a package ticket and stand a chance to win a $30 voucher!<br>
      </b>
    </div>
    <hr>
  </div>
  
  <div class="row-fluid">
    <div class="span8">
      <table border="1" style="font-family: 'Quattrocento Sans', sans-serif; margin:0 auto; text-align: center">
        <caption><b>Ticket Prices</b></caption>
        <th>Event</th>
        <!-- link to the information page or link to the same eventbrite page? -->
        <th>&nbsp&nbspPrice (USD)&nbsp&nbsp</th>
        <tr>
          <td><a href="/speakers">DiaS'pura Dialogue</a></td>
          <td>$20</td>
        </tr>
        <tr>
          <td><a href="/musical">Musical</a></td>
          <td>$10</td>
        </tr>
        <tr>
          <td>&nbsp&nbsp<a href="/schedule">Package (DiaS'pura Dialogue + Musical)</a>&nbsp&nbsp</td>
          <td>$25</td>
        </tr>
      </table>
      <br>
        
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        <!-- how to get tickets -->
        <div style="font-size:120%">
          How do I get my tickets?
        </div><br>
        
        <div style="padding-left:10px">
          There are <b>three</b> ways to get your tickets for DiaS'pura 4:<br>
          <ol>
            <li><b>Eventbrite</b><br>
              <ul>
                <li> 
                  Purchase online at our <a href="http://diaspura4.eventbrite.com/" target="_blank">eventbrite page</a>.
                  <br>(Eventbrite fees are <b>not</b> included in listed prices)
                </li>
              </ul>
            </li>
            <li><b>Through friends</b><br>
              <ul>
                <li>
                  Contact any friends you have at Penn to get tickets.
                </li>
              </ul>
            </li>
            <li><b>Through us</b><br>
              <ul>
                <li>
                  Please fill out
                  <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE1ZQTZjYWRuNDZDLVpKcTFrNmQ5NUE6MQ#gid=0"
                    target="_blank"> this form</a> and a member of the organizing committee will be in touch with you shortly.<br>
                </li>
              </ul>
            </li>
            <!-- or fill up a google form and someone will be in touch? -->
          </ol>
        </div>
        
        <br>
        <!-- insert picture here -->
        
        <!-- discounts -->
        <div style="font-size:120%">
          Discounts
        </div><br>
        <div style="padding-left: 10px">
          <ol>
            <li><b>Early-bird discount</b><br>
              <ul>
                <li>Use the discount code "<a href="http://diaspura4.eventbrite.com/?discount=D4EARLY" target="_blank">D4EARLY</a>" to enjoy a 10% discount when you purchase your tickets
                before February 28th</li>
              </ul>
            </li>
            <li><b>Group discount</b><br>
              <ul>
                <li>Enjoy a 10% discount on groups of 5 or more</li>
              </ul>
            </li>
            <li><b>Early-bird + Group discount</b><br>
              <ul>
                <li>Use the discount code "<a href="http://diaspura4.eventbrite.com/?discount=D4EG" target="_blank">D4EG</a>" to enjoy a 15% discount on groups of 5 or more if you purchase your
                tickets before February 28th</li>
              </ul>
            </li>
          </ol>
        </div>
        <br>
          
        <!-- entitlements -->
        <div style="font-size:120%">
          What do you get with your tickets?
        </div><br>
        
        <div style="padding-left: 10px">
          
          The <b>DiaS'pura Package ($25)</b> entitles you to:<br>
          <ul>
            <li>
              <b>DiaS'pura Dialogue</b> (worth $20)<br>
              <ol>
                <li>Admission to both panels of DiaS'pura Dialogue</li>
                <li>Welcome Package</li>
                <!-- include what's inside the welcome package -->
                <li>Delicious Southeast Asian lunch</li>
              </ol>
            </li>
              
            <li>
              <b>Sing, City! 4 Musical</b> (worth $10)<br>
            </li>
            
            <li>
              Admission to the guided tour.
            </li>
            
            <li>
              Entry into a lucky draw to win a $30 voucher!
              <!-- insert voucher type -->
            </li>
          </ul>
          
          <span style="color: #AA1F1F">NOTE</span>: Tickets to each event can also be purchased separately.<br><br>
          
          
        </div>
        <br>
          
      </div>    
    </div>
    
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px">
        Links<br>
        <a href="http://www.eventbrite.com/event/5220334160?ref=ebtnebtckt" target="_blank">
          <img src="http://www.eventbrite.com/custombutton?eid=5220334160" alt="Eventbrite - DiaS&#39;pura 4" /></a>
        
      </div>
    </div>
  </div>
  
  <!-- bottom line -->
  <div class="row-fluid">
    <div style="text-align: center; font-family: 'Quattrocento Sans', sans-serif">
        <b style="font-size:130%">Wait no more, get your tickets <a href="http://diaspura4.eventbrite.com/" target="_blank">
        now</a>!</b>
      </div>
  </div>
</div>