<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p>
        Philadelphia is a historic city with many attractions.
        <a href="http://www.nps.gov/inde/independence-hall-1.htm" target="_blank">
        Independence Hall</a> (Chestnut St between 5th and 6th Streets) is where the Declaration of Independence was
        signed; the <a href="http://www.nps.gov/inde/liberty-bell-center.htm" target="_blank"> Liberty Bell</a> (6th and
        Chestnut Streets) is where the bell rang for the first ever reading of the Declaration.
        <a href="http://www.visitphilly.com/museums-attractions/philadelphia/rittenhouse-square/" target="_blank">Rittenhouse
        Square</a> (18th and Walnut Streets) is a bustling area with a park, shops, restaurants and vibrant and varied
        nightlife. The more culturally inclined should pay a visit to the <a href="http://www.philamuseum.org/" target="_blank">
        Philadelphia Museum of Art </a>(2600 Benjamin Franklin Parkway) and the
        <a href="http://www.visitphilly.com/museums-attractions/philadelphia/mutter-museum/" target="_blank">Mutter Museum</a>
        (19 South 22nd Street). <a href="http://www.oldcitydistrict.org/" target="_blank">Old City</a>, another historic
        attraction, is a memento of William Penn's 17th-century Philadelphia.
        <br><br>
        If you're looking to satisfy a craving for Asian food, Chinatown is the area of Arch to Vine Streets between 9th and
        12th Streets, and at <a href="http://www.readingterminalmarket.org/" target="_blank">Reading Terminal Market </a>(12th
        and Arch) you can find Philly Cheesesteaks, among a host of other food options!
        <br><br>
        Do check out some other useful resources on the right for navigating your way around Philly's best!
        
        Till then, check out <a href="http://www.visitphilly.com/" target="_blank">visitphilly.com</a> for more information
        about Philadelphia!
        <!--
        <b>What To Do in Penn</b><br>
        <ul>
          <li>food recommendations</li>
          <li>sites</li>
          <li>places to stay</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <div style="font-family: 'Quattrocento Sans', sans-serif; text-align:justify; padding-left:20px; padding-top: 20px">
        Useful Resources
        <ul>
          <li><a href="http://www.visitphilly.com/" style="font-family: 'Quattrocento Sans', sans-serif">visitphilly.com</a></li>
          <li><a href="www.yelp.com/philadelphia" style="font-family: 'Quattrocento Sans', sans-serif">Yelp! Philadelphia</a></li>
          <li><a href="http://www.uwishunu.com/2012/09/uwishunus-top-picks-for-best-brunch-in-philadelphia-fall-2012/"
                 style="font-family: 'Quattrocento Sans', sans-serif">Brunch Places</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>