<br>
<div class="container" style="background:white; width: 750px;">
  <div class="row-fluid">
    <div class="span8">
      <p>
        We're still trying to source out our favoritest haunts amongst the Singaporeans at Penn for you to check out!
        Do bear with us as we consolidate the Orchard Roads and Bedok 85's of Philadelphia for you.<br>
        <br>
        Till then, check out <a href="http://www.visitphilly.com/">visitphilly.com</a> for more information about Philadelphia!
        <!--
        <b>What To Do in Penn</b><br>
        <ul>
          <li>food recommendations</li>
          <li>sites</li>
          <li>places to stay</li>
        </ul>
        -->
        
  
      </p>
    </div>
    <div class="span4">
      <p>
        
      </p>
    </div>
  </div>
</div>