/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@font-face {
    font-family: 'quicksand_dashregular';
    src: font-url('quicksand_dash-webfont.eot');
    src: font-url('quicksand_dash-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('quicksand_dash-webfont.woff') format('woff'),
         font-url('quicksand_dash-webfont.ttf') format('truetype'),
         font-url('quicksand_dash-webfont.svg#quicksand_dashregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KelmscottRomanRegular';
    src: font-url('KELMSCOT-webfont.eot');
    src: font-url('KELMSCOT-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('KELMSCOT-webfont.woff') format('woff'),
         font-url('KELMSCOT-webfont.ttf') format('truetype'),
         font-url('KELMSCOT-webfont.svg#KelmscottRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'motor_oil_1937_m54regular';
    src: url('motor_oil_1937_m54-webfont.eot');
    src: url('motor_oil_1937_m54-webfont.eot?#iefix') format('embedded-opentype'),
         url('motor_oil_1937_m54-webfont.woff') format('woff'),
         url('motor_oil_1937_m54-webfont.ttf') format('truetype'),
         url('motor_oil_1937_m54-webfont.svg#motor_oil_1937_m54regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
    text-align: justify;
    padding: 10px;
    font-family: Arial;
}

IMG.displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    position: relative;
    top: 30px
}
#layer1
{
   z-index: 10;
}
#layer2
{
    z-index: 20;
}

#layer3
{
    z-index: 30;
}
