<!DOCTYPE html>
<html>
<head>
  <title>DiaS'pura 4 - INSERT THEME NAME HERE</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background: maroon">
  
<!-- image -->
<div>
  <img id="layer1" src="assets/cover1.jpg" style="position:absolute; height:383px; width:1300px">
</div>
<div>
  <img id="layer2" src="assets/diaspuralogo.jpg" class="displayed" style="align:middle">
</div>
  
  <div class="container" style="background:white; opacity:0.95; margin: 0 auto; padding-top: 65px">  
    <div class="navbar">  
      <ul class="nav">
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/speakers">Speakers</a></li>
        <li><a href="/musical">Musical</a></li>
        <li><a href="/pastevents">Past Events</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>   
    </div>  
  </div>

<%= yield %>



</body>
</html>
