<!DOCTYPE html>
<html>
<head>
  <title>DiaS'pura 4 - INSERT THEME NAME HERE</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background: #AA1F1F">
  
<!-- image -->
<div>
  <img id="layer1" src="assets/cover1.jpg" style="position:absolute; height:388px; width:1300px">
</div>
<div>
  <img id="layer2" src="assets/diaspuralogo.jpg" class="displayed" style="align:middle">
</div>
  
  <div id="layer3" class="container" style="background:white; opacity:0.8; margin: 0 auto; position: relative; top:30px;
    width: 716px">  
    <div class="navbar">  
      <ul class="nav" style="font-family: motor_oil_1937_m54regular" >
        <li><a href="/home">HOME</a></li>
        <li><a href="/about">ClubSG</a></li>
        <li><a href="/schedule">SCHEDULE</a></li>
        <li><a href="/speakers">SPEAKERS</a></li>
        <li><a href="/musical">MUSICAL</a></li>
        <li><a href="/pastevents">PAST EVENTS</a></li>
        <li><a href="/tickets">TICKETS</a></li>
        <li><a href="/partners">PARTNERS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/todo">PENN</a></li>
      </ul>   
    </div>  
  </div>

    
<%= yield %>



</body>
</html>
